


 <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <!-- menu start -->
    <div class="menu_side">
      <div id="navbar_menu">
        <ul class="first-ul">
          <li> <a {% if request.resolver_match.url_name == 'home' %} class="active" {% endif %} href="{% url 'home' %}">Home</a>
            <ul>
              <li><a href="{% url 'home' %}">It Home Page</a></li>
              <li><a href="{% url 'home' %}">It Dark Home Page</a></li>
            </ul>
          </li>
          <li><a {% if request.resolver_match.url_name == 'about' %} class="active" {% endif %} href="{% url 'about' %}">About Us</a></li>
          <li> <a {% if request.resolver_match.url_name == 'services' %} class="active" {% endif %} href="{% url 'services' %}">Service</a>
            <ul>
              <li><a href="{% url 'services_list' %}">Services list</a></li>
              <li><a href="{% url 'services_detail' %}">Services Detail</a></li>
            </ul>
          </li>
          <li> <a {% if request.resolver_match.url_name == 'blog_list' %} class="active" {% endif %} href="{% url 'blog_list' %}">Blog</a>
            <ul>
              <li><a href="{% url 'blog_list' %}">Blog List</a></li>
              <li><a href="{% url 'blog_grid' %}">Blog Grid</a></li>
              <li><a href="{% url 'blog_detail' %}">Blog Detail</a></li>
            </ul>
          </li>
          <li> <a {% if request.resolver_match.url_name == 'career' %} class="active" {% endif %} href="{% url 'career' %}">Pages</a>
            <ul>
              <li><a href="{% url 'career' %}">Career</a></li>
              <li><a href="{% url 'price' %}">Pricing</a></li>
              <li><a href="{% url 'faq' %}">Faq</a></li>
              <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'error' %}">Error 404</a></li>
            </ul>
          </li>
          <li> <a {% if request.resolver_match.url_name == 'shop' %} class="active" {% endif %} href="{% url 'shop' %}">Shop</a>
            <ul>
              <li><a href="{% url 'shop' %}">Shop List</a></li>
              <li><a href="{% url 'shop_detail' %}">Shop Detail</a></li>
              <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
              <li><a href="{% url 'checkout' %}">Checkout</a></li>
            </ul>
          </li>
          <li> <a {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %} href="{% url 'contact' %}">Contact</a>
            <ul>
              <li><a href="{% url 'contact' %}">Contact Page 1</a></li>
              <li><a href="{% url 'contact2' %}">Contact Page 2</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}
          <li> <a {% if request.resolver_match.url_name == 'profile' %} class="active" {% endif %}  href="{% url 'profile' %}">{{user.username}}</a>
            <ul>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a {% if request.resolver_match.url_name == 'cart' %} class="active" {% endif %} href="{% url 'cart' %}">Cart</a></li>
              <li><a {% if request.resolver_match.url_name == 'cart' %} class="active" {% endif %} href="{% url 'wishlist' %}">Wishlist</a></li>
              <li><a {% if request.resolver_match.url_name == 'logoutpage' %} class="active" {% endif %} href="{% url 'logoutpage' %}">Logout</a></li>
            </ul>
          </li>

          {% else %}
           <li><a {% if request.resolver_match.url_name == 'login2' %} class="active" {% endif %} href="{% url 'login2' %}">Login</a>
          </li>
          {% endif %}
  
  
        </ul>
      </div>
      <div class="search_icon">
        <ul>
          <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- menu end -->
