{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{{request.user.username}} Profile</title>
    
    
    <link rel="stylesheet" href="{% static 'users/profile/css/reset.css' %}"> 

    
        <link rel="stylesheet" href="{% static 'users/profile/css/style.css' %}">

    
    
    
  </head>

  <body>

    <div class="container">
  <div class="avatar-flip">
    <img src="{{user.profile.image.url}}" height="150" width="150">
    <img src="{{user.profile.image.url}}" height="150" width="150">

  </div>
  <h2>John Smith</h2>
  <h4>HOVER OVER CONTAINER</h4>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna ip sum dolore.</p>
  <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>

   <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Profile Info
        </legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>

</div>
    
    
    
    
    
  </body>
</html>
